
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /pizzas/{pizzaId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.role == 'owner';
    }
    match /delivery_proofs/{orderId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
